extends ../../layouts/default.pug
include ../../mixins/box-head
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug

block main 
    +alert-error(5000)
    .container.my-3 
        .row 
            .col-12 
                +box-head("Danh sách sản phẩm")

        +product-grid(product)